<header class="header-main container">
	<div class="companyheader">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
		{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
	</div>
	{% if pages|length > 1 %}
	{{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
	{% endif %}
</header>