@import "@{templateCommon}/basekit-bootstrap.less";
@import "@{templateLocal}/grid/grid.less";

@mobile-small: ~"only screen and (max-width: 380px)";

// Mixins

@borders-blocks: darken(@color-swatch1, 20%);
@borders-buttons: lighten(desaturate(@color-swatch2, 40%), 40%);
@borders-buttons-hover: lighten(desaturate(@color-swatch2, 40%), 30%);
@background-blocks: lighten(@color-swatch2, 70%);
@text-links-hover: darken(@color-swatch6, 20%);

.appearance(@appearance: none) {
    -webkit-appearance: @appearance;
    -moz-appearance: @appearance;
    appearance: @appearance;
}

// Basekit Elements

.top-level-overlay button.top-level-overlay__delete-button,
.row-overlay__delete-button,
.top-level-overlay button.top-level-overlay__arrangement-button--up,
.row-overlay__arrangement-button--up,
.top-level-overlay button.top-level-overlay__arrangement-button--down,
.row-overlay__arrangement-button--down, .row-overlay__edit-button {
	background: transparent !important;
}

.row-overlay__edit-button {
	background: @color-swatch1 !important;
}

.is-dropdown-open .row-overlay__edit-button .row-overlay__edit-button-icon,
.is-setting-open .row-overlay__edit-button .row-overlay__edit-button-icon {
	left: auto !important;
    top: auto !important;
}

// Globals

html, body {
	background-color: @color-swatch7;
	font-family: @font-swatch5-font-family;
	font-weight: @font-swatch5-font-weight;
	color: @font-swatch5-color;
	line-height: @font-swatch5-line-height;
	letter-spacing: @font-swatch5-letter-spacing;
	font-size: @font-swatch5-font-size;
	-webkit-font-smoothing: antialiased;
}

body {
	position: relative;
}

// Typography

h1, .heading--1 {
	font-family: @font-swatch1-font-family; 
	font-weight: @font-swatch1-font-weight; 
	color: @font-swatch1-color; 
	line-height: @font-swatch1-line-height; 
	letter-spacing: @font-swatch1-letter-spacing; 
	font-size: @font-swatch1-font-size;

	a {
		font-family: @font-swatch1-font-family; 
		font-weight: @font-swatch1-font-weight; 
		line-height: @font-swatch1-line-height; 
		letter-spacing: @font-swatch1-letter-spacing; 
		font-size: @font-swatch1-font-size;
		color: @color-swatch2;
	}
}

h2, .heading--2 {
	font-family:@font-swatch2-font-family; 
	font-weight: @font-swatch2-font-weight; 
	color: @font-swatch2-color; 
	line-height: @font-swatch2-line-height; 
	letter-spacing: @font-swatch2-letter-spacing; 
	font-size: @font-swatch2-font-size;

	a {
		font-family: @font-swatch2-font-family; 
		font-weight: @font-swatch2-font-weight; 
		line-height: @font-swatch2-line-height; 
		letter-spacing: @font-swatch2-letter-spacing; 
		font-size: @font-swatch2-font-size;
		color: @color-swatch2;
	}
}

h3, .heading--3 {
	font-family: @font-swatch3-font-family; 
	font-weight: @font-swatch3-font-weight; 
	color: @font-swatch3-color; 
	line-height: @font-swatch3-line-height; 
	letter-spacing: @font-swatch3-letter-spacing; 
	font-size: @font-swatch3-font-size;

	a {
		font-family: @font-swatch3-font-family; 
		font-weight: @font-swatch3-font-weight; 
		line-height: @font-swatch3-line-height; 
		letter-spacing: @font-swatch3-letter-spacing; 
		font-size: @font-swatch3-font-size;
		color: @color-swatch2;
	}
}

h4, .heading--4 {
	font-family: @font-swatch4-font-family; 
	font-weight: @font-swatch4-font-weight; 
	color: @font-swatch4-color; 
	line-height: @font-swatch4-line-height; 
	letter-spacing: @font-swatch4-letter-spacing; 
	font-size: @font-swatch4-font-size;

	a {
		font-family: @font-swatch4-font-family; 
		font-weight: @font-swatch4-font-weight; 
		line-height: @font-swatch4-line-height; 
		letter-spacing: @font-swatch4-letter-spacing; 
		font-size: @font-swatch4-font-size;
		color: @color-swatch2;
	}
}

h5, .heading--5,
.ecom-product-price {
	font-family: @font-swatch5-font-family;
	font-weight: @font-swatch5-font-weight;
	color: @font-swatch5-color;
	line-height: @font-swatch5-line-height;
	letter-spacing: @font-swatch5-letter-spacing;
	font-size: @font-swatch5-font-size;

	a {
		font-family: @font-swatch5-font-family;
		font-weight: @font-swatch5-font-weight;
		line-height: @font-swatch5-line-height;
		letter-spacing: @font-swatch5-letter-spacing;
		font-size: @font-swatch5-font-size;
		color: @color-swatch2;
	}
}

h6, .heading--6 {
	font-family: @font-swatch6-font-family;
	font-weight: @font-swatch6-font-weight;
	color: @font-swatch6-color;
	line-height: @font-swatch6-line-height;
	letter-spacing: @font-swatch6-letter-spacing;
	font-size: @font-swatch6-font-size;
	color: @color-swatch5;

	a {
		font-family: @font-swatch6-font-family;
		font-weight: @font-swatch6-font-weight;
		line-height: @font-swatch6-line-height;
		letter-spacing: @font-swatch6-letter-spacing;
		font-size: @font-swatch6-font-size;
		color: @color-swatch2;
	}
}

h1, h2, h3, h4, h5, h6,
[class*="contentgroup__h"],
.blog-post-title a {
    word-break: break-word;

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

// Normal Text

p,
.paragraph,
ul, ol, li,
dd, pre, code,
label, .label,
.contactform label, 
.advancedcontactform label,
.twitter ul li time,
.signupform label,
.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select,
select,
blockquote {
	font-family: @font-swatch5-font-family;
	font-weight: @font-swatch5-font-weight;
	color: @font-swatch5-color;
	line-height: @font-swatch5-line-height;
	letter-spacing: @font-swatch5-letter-spacing;
	font-size: @font-swatch5-font-size;
	word-break: break-word;
	margin-bottom: 0.4em;

	.style--light & {
		color: @font-swatch5-color;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

.widget.content .wysihtml-editor-content,
.widget.embed .embed-content,
.widget.content.in-editing .wysihtml-editor-content {
	font-size: @font-swatch5-font-size !important;
	line-height: @font-swatch5-line-height !important;
}

// Link

a,
.widget.twitter a,
.widget.twitter ul li span a,
.ecom-productlist-info h2 a,
[data-name="content"] a:not(.contentgroup__link) {
	text-decoration: none;
	color: @color-swatch4;

	.style--light & {
        color: @color-swatch4;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }

	&:hover {
		text-decoration: underline;
	}
}

// Preformatted and Code Text

pre, code {
	display: block;
	margin: 1em 0;
	padding: 0.5em 1em;
	border: none;
	.border-radius(0);
	background-color: darken(@color-swatch1, 10%);
	overflow: auto;
	font-family: monospace;

	.style--light & {
		background-color: darken(@color-swatch1, 10%);
	}

	.style--accent & {
		background-color: fade(@contrast--accent, 10%);
	}

	.style--dark & {
		background-color: fade(@contrast--dark, 10%);
	}
}

code {
	border-left: 1px solid @color-swatch5;

	.style--light & {
		border-color: @color-swatch5;
	}

	.style--accent & {
		border-color: @contrast--accent;
	}

	.style--dark & {
		border-color: @contrast--dark;
	}
}

// BLOCKQUOTE

blockquote {
	&:before {
		color: fade(@font-swatch5-color, 50%);

		.style--light & {
			color:  fade(@font-swatch5-color, 50%);
		}

		.style--accent & {
			color: fade(@contrast--accent, 50%);
		}

		.style--dark & {
			color: fade(@contrast--dark, 50%);
		}
	}

	&:after {
		display: none;
	}
}

// Unordered and Ordered List

.widget.content,
.blog-post-content,
.ecom-product-long-description {
	ul {
		margin: 0.5em 0 0.5em 2em;
		padding-left: 0;
		list-style: none;
	
		li {
			position: relative;
			padding: 0;
			margin: 0 0 0.25em 0;
	
			&:before {
				position: absolute;
				content: '\2022';
				left: -2em;
			}
		}
	}
	
	ol {
		margin: 0.5em 0;
		padding-left: 0;
		counter-reset: ordered-counter;
	
		li {
			position: relative;
			padding-left: 2em;
			margin: 0 0 0.25em 0;
			list-style-type: none;
	
			// Custom Numbers
	
			&:before {
				min-width: 2em;
				padding: 0 0.4em 0 0;
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				.box-sizing(border-box);
				content: counter(ordered-counter) ".";
				counter-increment: ordered-counter;
				text-align: left;
			}
		}
	}
}

.widget-overlay,
.content .widget-overlay {
	ul.list--options {
		margin: 0;
		padding: 0;
		border: none;
	
		li.item--option {
			margin: 0;
			padding: 0;
	
			&:before {
				content: none;
			}
		}
	}
}

// TABLE

table {
	overflow: auto;
	min-width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	border-top: 1px solid @font-swatch5-color;
	margin: 0;
	hyphens: auto;
	color: @font-swatch5-color;

	.style--light & {
		border-top-color: @font-swatch5-color;
		color: @font-swatch5-color;
	}

	.style--accent & {
		border-top-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-top-color: @contrast--dark;
		color: @contrast--dark;
	}
}

// Table Cell

td, th {
	border: none;
	background-color: transparent;
}

th {
	padding: 0.5em;
	border-bottom: 1px solid @font-swatch5-color;
	text-align: left;
	font-family: @font-swatch4-font-family;
	font-weight: @font-swatch4-font-weight;
	font-size: @font-swatch4-font-size;
	line-height: @font-swatch4-line-height;
	letter-spacing: @font-swatch5-letter-spacing;
	color: @font-swatch4-color;

	.style--light & {
		border-bottom-color: @font-swatch5-color;
		color: @font-swatch4-color;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
		color: @contrast--dark;
	}
	
	@media @mobile {
		display: none;
	}
	
	.responsivecolumns & {
		display: none;
	}
}

td {
	border-bottom: 1px solid fade(@font-swatch5-color, 40%);
	padding: 1em 0.5em;
	font-family: @font-swatch5-font-family;
	font-weight: @font-swatch5-font-weight;
	font-size: @font-swatch5-font-size;
	line-height: @font-swatch5-line-height;
	letter-spacing: @font-swatch5-letter-spacing;

	.style--light & {
		border-bottom-color: fade(@font-swatch5-color, 40%);
	}

	.style--accent & {
		border-bottom-color: fade(@contrast--accent, 40%);
	}

	.style--dark & {
		border-bottom-color: fade(@contrast--dark, 40%);
	}
	
	@media @mobile {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;
		width: 100% !important;
		max-width: 100%;
	}
	
	.responsivecolumns & {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;
		width: 100% !important;
		max-width: 100%;
	}
	
	&:first-child {
		@media @mobile {
			padding: 1em 0.5em 0;
		}

		.responsivecolumns & {
			padding: 1em 0.5em 0;
		}
	}
	
	&:last-child {
		@media @mobile {
			padding: 0 0.5em 1em;
			border-bottom: 1px solid fade(@font-swatch5-color, 60%);

			.style--light & {
				border-bottom-color: fade(@font-swatch5-color, 60%);
			}
		
			.style--accent & {
				border-bottom-color: fade(@contrast--accent, 60%);
			}
		
			.style--dark & {
				border-bottom-color: fade(@contrast--dark, 60%);
			}
		}

		.responsivecolumns & {
			padding: 0 0.5em 1em;
			border-bottom: 1px solid fade(@font-swatch5-color, 60%);

			.style--light & {
				border-bottom-color: fade(@font-swatch5-color, 60%);
			}
		
			.style--accent & {
				border-bottom-color: fade(@contrast--accent, 60%);
			}
		
			.style--dark & {
				border-bottom-color: fade(@contrast--dark, 60%);
			}
		}
	}
}

tr:last-child td {
	border-bottom: 1px solid @font-swatch5-color;

	.style--light & {
		border-bottom-color: @font-swatch5-color;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
	}
	
	@media @mobile {
		border-bottom: none;
	}
	
	.responsivecolumns & {
		border-bottom: none;
	}
	
	&:last-child {
		@media @mobile {
			border-bottom: 1px solid @font-swatch5-color;

			.style--light & {
				border-bottom-color: @font-swatch5-color;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}

		.responsivecolumns & {
			border-bottom: 1px solid @font-swatch5-color;

			.style--light & {
				border-bottom-color: @font-swatch5-color;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}
	}
}

// Language Selector

@language-padding: 0.5em;
@language-line-height: @font-swatch7-line-height;

// General styles

.language-selector {
	&.language-selector--horizontal,
	&.language-selector--dropdown {
		z-index: 200;
	    position: relative;
		box-sizing: content-box;
		max-width: 1170px;
		width: 98.63%;
		margin: 0 auto;
		
		@media @tablet {
			width: 100%;
		}
	}

	&.language-selector--light {
		background-color: @color-swatch1;
		
		@media @mobile {
  			box-shadow: none;
		}
	}

	&.language-selector--dark {
		background-color: @color-swatch4;
		
		@media @mobile {
  			box-shadow: none;
		}
	}
	
	&.language-selector--dropdown {
	    height: auto;
		text-align: left;
	}

    .language-selector__inner,
    .language-selector__list,
    .language-selector__item,
    .language-selector__link,
    .language-selector__name,
    .language-selector__localised-name {
    	font-family: @font-swatch7-font-family;
    	font-size: @font-swatch7-font-size;
    	font-weight: @font-swatch7-font-weight;
    	line-height: @language-line-height;
    	letter-spacing: @font-swatch7-letter-spacing;
    	color: @font-swatch7-color;
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;
		font-smooth: auto;
		text-rendering: auto;
    }
}

// Inner

.language-selector__inner {
    .language-selector & {
	    box-sizing: content-box;
    	padding: @language-padding;
    }
    
    .language-selector.language-selector--horizontal & {
    	padding: @language-padding @language-padding 0;
    }

	.language-selector.language-selector--dropdown & {
    	&:before {
    	    content: '';
            display: block;
    	    height: @language-line-height;
    	}

    	&:after {
    	    content: '';
            display: block;
    	    height: @language-padding*2;
    	}

		@media @mobile {
			width: 100%;
		}
	}
}
	
// List

.language-selector__list {
    .language-selector & {
	    min-width: auto;
    }
	
	.language-selector.language-selector--dropdown & {
		box-sizing: border-box;
		margin: @language-padding;
		min-width: auto;
	    max-width: ~"calc(100% - 1em)";
        
        @media @tablet {
		    margin: 0;
    	    padding: @language-padding;
	    	max-width: 100%;
        }
		
		@media @mobile {
			width: 100%;
		}
	}
	
	.language-selector.language-selector--dropdown.language-selector--flag & {
		@media @mobile {
			width: auto;
		}
	}
}
	
// Item

.language-selector__item {
	.language-selector.language-selector--light &,
	.language-selector.language-selector--dark & {
		cursor: pointer;
	    position: relative;
		border: none;
		background-color: transparent;
		width: auto;
		max-width: 100%;
		-webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        transition: .2s;
		
		.language-selector--horizontal& {
		    margin: 0 0 @language-padding @language-padding;
		}
	}
	
	// Link Color
	
	.language-selector.language-selector--horizontal & {
		.language-selector--light&,
		.language-selector--dark& {
            border-radius: 2px;
			background-color: @font-swatch7-background-color;
			
			&:hover {
				background-color: @font-swatch7-background-color-hover;
			}
			
			&--current {
				&, &:hover {
					background-color: @font-swatch7-background-color-hover;
				}
			}
		}
	}

	.language-selector.language-selector--dropdown & {
		.language-selector--light&,
		.language-selector--dark& {
			&, &--current {
				background-color: @font-swatch7-background-color;
				
				&:hover {
					background-color: @font-swatch7-background-color-hover;
				}
			}
			&--current {
                border-radius: 2px;
			}
		}
	}
	
	// Current Item
	
	&--current {
	    &:before {
    		.language-selector.language-selector--dropdown & {
				position: absolute;
        		content: '\25be';
        		top: 50%;
        		right: -1px;
        		margin-top: -(@language-line-height/4);
        		width: @language-padding*4;
    		    background-color: transparent;
        		line-height: @language-line-height/2;
        	    font-size: fade(@color-swatch7, 20%);
        		color: fade(@color-swatch7, 20%);
        		text-align: center;
    		}
	    }

	    &:after {
    		.language-selector.language-selector--dropdown & {
				position: absolute;
        		content: '\25be';
        		top: 50%;
        		right: 0;
        		margin-top: -(@language-line-height/4);
        		width: @language-padding*4;
    		    background-color: transparent;
        		line-height: @language-line-height/2;
        	    font-size: @font-swatch7-font-size;
        		color: @font-swatch7-color;
        		text-align: center;
    		}
	    }
	}
}

// Link

.language-selector__link {
	.language-selector & {
		box-sizing: border-box;
		padding: 0 @language-padding*2;
		border: none;
		hyphens: auto;
	}
	
	// Horizontal - Item
	
	.language-selector.language-selector--horizontal & {
		text-align: right;
		display: inline-block;
	}
	
	// Dropdown - Item
	
	.language-selector.language-selector--dropdown & {
		padding-right: @language-padding*4;
	}
	
	// Link Color
	
	.language-selector.language-selector--horizontal &,
	.language-selector.language-selector--horizontal .language-selector__item--current &,
	.language-selector.language-selector--dropdown &,
	.language-selector.language-selector--dropdown .language-selector__item--current & {
		.language-selector--light&,
		.language-selector--dark& {
			&,
			&:hover {
				background-color: transparent;
			}
		}
	}
}

// Icon

.language-selector__icon {
	.language-selector & {
		margin-right: 0;
		padding: @language-padding 0;
		min-height: @language-line-height;
		box-sizing: content-box;
		line-height: @language-line-height;
	}

	.language-selector.language-selector--flag-text & {
		margin: 0;
	}

	.language-selector.language-selector--dropdown.language-selector--flag-text & {
		float: left;
		box-sizing: border-box;
		line-height: @language-line-height;
	}
}

// Name

.language-selector__name,
.language-selector__localised-name {
	.language-selector & {
		text-shadow: 0 1px 1px fade(@color-swatch7, 20%);
	}
	
	.language-selector.language-selector--flag-text & {
		display: inline-block;
		padding: @language-padding 0 @language-padding @language-padding;
	}

	.language-selector.language-selector--text &,
	.language-selector.language-selector--flag & {
		padding: @language-padding 0;
	}

	.language-selector.language-selector--text & {
		display: block;
	}
	
	.language-selector.language-selector--dropdown & {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		.language-selector--flag-text& {
			@media @mobile-small {
				display: none;
			}
		}
	}
}

// Header

body {
	margin-top: -1px;
}

.template-header {
	padding-top: 1px;
}

.header-main {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding: 10px 24px 10px 40px;
    margin-top: 40px;
	min-height: 60px;
	background-color: @color-swatch1;
	align-items: center;
	position: relative;

	@media @tablet {
    	margin-top: 0;
	}

	.companyheader {
		display: flex;
		align-items: center;

		@media @tablet {
			flex-grow: 1;
		}

		.widget.logo {
			margin-right: 1em;
		
			img {
				margin-top: 3px;
				margin-right: 11px;
				min-width: 40px;
			}
		}
		
		.widget.companyname {
			@media @tablet {
				padding-right: 55px;
			}
		
			a {
				font-family:@font-swatch10-font-family;
				font-weight: @font-swatch10-font-weight;
				line-height:@font-swatch10-line-height;
				letter-spacing: @font-swatch10-letter-spacing;
				font-size: @font-swatch10-font-size;
				color:@font-swatch10-color;
				word-break: break-word;
			}
		}
	}
}

// Navigation

.widget.navigation,
.widget.extendednavigation {
	position: static;

	.extendednavigation {
		position: static;
		height: 19px;
	}

	// Mobile Menu

	a.pull {
		@media @tablet {
			display: inline-block;
			top: 50%;
			width: 25px;
			height: 19px;
			margin-top: -9px;
			right: 40px;
		}

		&:after {
			@media @tablet {
				top: 0;
				right: 0;
				width: 25px;
				background-color: @color-swatch2;
				box-shadow: 0 8px 0 @color-swatch2, 0 16px 0 @color-swatch2;
			}
		}
	}

	// Menu Points

	ul {
		display: block;
		z-index: 100;
		padding: 0;
		background-color: @color-swatch1;

		@media @tablet {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			padding: 0 40px;

			&.open {
				display: block;
			}
		}

		// Menu Point

		li {
			list-style: none;
			margin: 0;
			padding: 1em;

			@media @tablet {
				border-bottom: none;
				padding: 0.5em 0;
			}

			.text,
			&.folder .text {
				padding: 0;
				display: inline;
				text-transform: uppercase;
			}
	
			a,
			&.folder > .text {
				display: inline-block;
				padding: 2px;
				border-bottom: 3px solid @color-swatch1;
				line-height: @font-swatch6-line-height;
				word-break: break-word;
				transition: .2s;

				&:hover {
					border-bottom: 3px solid lighten(@color-swatch7, 10%);
				}
			}

			// Folder

			&.folder {
				margin-right: 0;

				&:after {
					content: none;
				}
					
				> .text {
					padding-right: 1.5em;
					word-break: break-word;

					&:after {
						content: '';
						display: block;
						position: absolute;
						top: 50%;
						right: 0.25em;
						border: 2px solid fade(@font-swatch6-color, 60%);
						border-top: transparent;
						border-left: transparent;
						transform: rotate(45deg);
						margin-top: -0.5em;
						width: 0.5em;
						height: 0.5em;
					}
				
					&:hover:after {
						border-color: @font-swatch6-color-hover;
					}
				}

				// Dropdown
	
				> ul,
				&:hover > ul {
					display: none;
					position: absolute;
					left: auto;
					right: 0;
					background-color: darken(@color-swatch1, 5%);
					z-index: 500;
					padding: 0;
					margin: 10px 14px;
					min-width: 300px;
					max-width: 500px;
					word-break: break-word;
					text-overflow: inherit;

					@media @tablet {
						display: none;
						position: static;
						max-width: none;
						min-width: auto;
						margin: 0;
						padding: 0;
						max-width: 100%;
					}
				
					> li {
						display: block;
						padding: 0;
						width: 100%;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;

						@media @tablet {
							display: block;
							padding: 0;
							margin: 0;
							border-bottom: none;
						}
					
						> a {
							display: block;
							padding: 1em;
							border: none;

							&:hover {
								background-color: darken(@color-swatch1, 10%);
							}
						}

						.text,
						&:hover .text {
							overflow: visible;
							word-break: break-word;
							padding: 0;
						}

						&:first-child {
							@media @tablet {
								border-top: none;
							}
						}
					}
				}
	
				// Folder Open
		
				&.folder-open ul,
				&.folder-open:hover ul {
					display: block;
	
					@media @tablet {
						display: block;
					}
				}
			}
		}
	}
}

// Content

.widget.content {
	clear: both;

	.main > & {
		padding-bottom: 40px;
	
		h2 {
			position: relative;
		}
	}
}

// Home

.section.main {
	padding: 40px;

	h3 {
		border-bottom: none;
	}

	@media @mobile {
	    padding: 30px;
	}
}

.section.home-page {
	padding-top: 50px;
}

.header-phone {
	text-align: right;

	@media @tablet {
		text-align: center;
	}
}

.header-sub {
	padding-bottom: 10px;
}

.header-details {
	padding: 10px 0;
	background-color: @color-swatch3;
	color: @color-swatch1;

	@media @tablet {
		text-align: center;
	}
}

// Page

.page-wrap {
	box-shadow: 0 0 50px fadeout(@color-swatch2, 90%);
	background-color: @color-swatch1;
}

// Feature

.widget.feature {
	clear: both;
	text-align: center;

	@media @tablet {
		text-align: center;
	}

	.feature-bgimg .content,
	.feature-bgimg {
		height: 450px;

		@media @tablet {
			height: 400px;
		}
	}

	.feature-bgimg .content .spare {
		margin: 3em;
	}
	
	.feature-btn {
		display: block;
	}

	h2,
	h3 {
		span {
			padding: 0;
		}

		&:after {
			display: none;
		}
	}

	h2 {
		margin-bottom: 10px;
		border-left: none;
		border-right: none;
		display: inline-block;
		padding-bottom: 0;
	}

	h3 {
		border-bottom: none;
		padding-bottom: 20px;
		span {
			font-style: italic;
		}
	}

	button {
	    @media @mobile {
	        width: 50%;
	    }
	}
}

// IMAGE

.widget.image {
	a:hover {
		text-decoration: none;
	}

	span.image-title,
	span.image-description {
		&, &:hover {
			text-decoration: none;
		}
	}
	
	span.image-title {
		margin: 0;
		padding: 10px 0;
	}

	span.image-description {
		padding: 10px 0;
		line-height: 1.2em;
		color: @font-swatch5-color;

		.style--light & {
			color: @font-swatch5-color;
		}
	
		.style--accent & {
			color: @contrast--accent;
		}
	
		.style--dark & {
			color: @contrast--dark;
		}
	}

	span.image-title + span.image-description {
		padding: 0 0 10px;
		margin-top: -10px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 10px;
	}
}

// GALLERY

.widget.gallery ul li {
	@media @tablet {
		width: 100%/2;
		padding-bottom: 100%/2;
	}

	@media @mobile {
		width: 100%;
		padding-bottom: 100%;
	}

	.responsivecolumns & {
		width: 100%;
		padding-bottom: 100%;
	}

	.title {
		.heading--4;
	}

	.description {
		.paragraph;
		color: @font-swatch4-color;

		.style--light & {
			color: @font-swatch4-color;
		}
	
		.style--accent & {
			color: @font-swatch4-color;
		}
	
		.style--dark & {
			color: @font-swatch4-color;
		}
	}
}

// SLIDESHOW

.widget.responsiveslideshow {
	.slideshow-widget {
		.btn-prev,
		.btn-next {
			text-indent: 1000px;
			overflow: hidden;
			height: 30px;
			width: 30px;
			top: 50%;
			margin-top: -15px;

			&:before {
				content: '';
				display: block;
				border: 5px solid transparent;
				position: absolute;
				top: 10px;
				left: 11px;
				width: 0;
				height: 0;
			}
		}

		.btn-next:before {
			border-left-color: @color-swatch2;
			left: 13px;
		}

		.btn-prev:before {
			border-right-color: @color-swatch2;
			left: 6px;
		}
		
		.btn-prev,
		.btn-next,
		.btn-play {
			background-color: fadeout(@color-swatch1, 30%);
			border-radius: 100%;
			opacity: 1;
			top: 50%;
		}

		.btn-play {
			position: absolute;
			cursor: pointer;
			z-index: 12;
			width: 60px;
			height: 60px;
			left: 50%;
			margin-top: -30px;
			margin-left: -30px;
			line-height: 60px;

			&:after {
				line-height: 60px;
				left: 1px;
				top: 0;
				font-size: 25px;
			}

			&.pause:after {
				line-height: 65px;
				left: 3px;
				top: 0;
				font-size: 25px;
			}
		}
		
		.btn-prev,
		.btn-next {
			margin-top: -15px;
		}

		&:hover {
			.slideshow-widget .btn-play,
			.btn-prev,
			.btn-next {
				opacity: 1;

				&:hover {
					opacity: 1;
				}
			}
		}

		.content-wrapper {
			background: fadeout(@color-swatch1, 25%);
			text-shadow: none;

			span {
				display: block;
	
				@media @mobile {
					padding-right: 10px;
				}

				&.title,
				&.description {
					color: @font-swatch4-color;
			
					.style--light & {
						color: @font-swatch4-color;
					}
				
					.style--accent & {
						color: @font-swatch4-color;
					}
				
					.style--dark & {
						color: @font-swatch4-color;
					}
				}
	
				&.title {
					padding: 0.5em 15px 10px;
					font-weight: @font-swatch2-font-weight;
					font-size: @font-swatch5-font-size*1.5;
					line-height: 1.2em;
				}
	
				&.description {
					padding: 10px 15px;
					line-height: 1.2em;
					font-size: @font-swatch5-font-size;
				}
	
				&.title + .description {
					padding: 0 15px 10px;
					margin-top: -5px;
				}
			}
		}
	}

	.slideshow-widget-controls {
		margin-bottom: 20px;

		.dot {
			height: 8px;
			width: 8px;
			margin: 5px;
			border-radius: 100%;
			border: 1px solid @color-swatch2;
			background-color: @color-swatch1;

			.style--light & {
				border-color: @color-swatch2;
				background-color: @color-swatch1;
			}

			.style--accent & {
				border-color: @color--dark;
				background-color: @color--accent;
			}

			.style--dark & {
				border-color: @color--accent;
				background-color: @color--dark;
			}

			&.selected {
				border: 1px solid @color-swatch2;
				background: @color-swatch2;

				.style--light & {
					border-color: @color-swatch2;
					background-color: @color-swatch2;
				}

				.style--accent & {
					border-color: @color--dark;
					background-color: @color--dark;
				}

				.style--dark & {
					border-color: @color--accent;
					background-color: @color--accent;
				}
			}
		}
	}
}

// DIVIDER

hr.line,
.content hr {
	height: 1px;
	background-color: fade(@font-swatch5-color, 10%);
	border: none;

	.style--light & {
		background-color: fade(@font-swatch5-color, 10%);
    }

    .style--accent & {
        background-color: fade(@contrast--accent, 10%);
    }

    .style--dark & {
        background-color: fade(@contrast--dark, 10%);
    }
}

// FORMS

fieldset .btn,
fieldset button,
form button {
	vertical-align: middle;
}

.form-group {
	padding-bottom: 10px;
	
	&.js-recaptcha {
		padding-bottom: 0;
	}
}

input,
textarea,
select,
form input,
form textarea,
form select,
input:-webkit-autofill,
input:-webkit-autofill:focus {
	text-indent: 0;
	padding: 8px 9px 10px;
	border: 1px solid @borders-blocks;
	outline: none;
	-webkit-transition: border .2s;
	-moz-transition: border .2s;
	-ms-transition: border .2s;
	transition: border .2s;
	background-color: @color-swatch1;
	border-radius: 2px;
	-webkit-appearance: none;
	color: @font-swatch5-color;

	.style--light & {
		border-color: @borders-blocks;
		color: @font-swatch5-color;
    }

    .style--accent & {
    	border-color: darken(@color--accent, 20%);
		color: @font-swatch5-color;
    }

    .style--dark & {
    	border-color: darken(@color--dark, 20%);
		color: @font-swatch5-color;
    }

	&:hover,
	&:focus {
		border: 1px solid darken(@borders-blocks, 20%);
		background-color: @color-swatch1;

		.style--light & {
			border-color: darken(@borders-blocks, 20%);
			color: @font-swatch5-color;
	    }

	    .style--accent & {
	    	border-color: darken(@color--accent, 25%);
			color: @font-swatch5-color;
	    }

	    .style--dark & {
	    	border-color: darken(@color--dark, 25%);
			color: @font-swatch5-color;
	    }
	}
}

.widget.profile form fieldset input,
.signupform fieldset input {
	min-height: 40px;
	vertical-align: middle;
	height: auto !important;

	@media @mobile {
	    width: 100%;
	    margin-bottom: 10px;
	}
}

.signupform fieldset {
	label {
		text-indent: -300px;
		height: 0;
		overflow: hidden;
	}

	input[type=email] {
		margin-right: 10px;

		@media @mobile {
			margin-right: 0;
		    width: 100%;
		}
	}

	button.btn {
		width: 25%;
		padding: 8px 20px;

		@media @mobile {
		    width: 100%;
		}

		.responsivecolumns & {
		    width: auto;
		}
	}
}

textarea,
form textarea {
	resize: vertical;
	min-height: 100px;
}

// DROPDOWN

.select-wrap {
	position: relative;

    .advancedcontactform & {
        max-width: 50%;

        @media @tablet {
            max-width: 100%;
        }
    
        .responsivecolumns & {
            max-width: 100%;
        }
    }
}

select,
form select {
	cursor: pointer;
	position: relative;
    .appearance(none) !important;
	width: 100%;
	background-image: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNCI+Cgk8cG9seWxpbmUgc3Ryb2tlPSIjNzY3ODgwIiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjMiIHBvaW50cz0iMjAuMSw4LjYgMTIsMTYuNyAzLjksOC42IiAvPgo8L3N2Zz4=");
    background-repeat: no-repeat;
	background-position: right 0.75em center;
    background-size: 1.2em;
    margin-bottom: 12px;
    padding-right: 2.6em;
	border-radius: 2px;
	text-indent: 0.01px;
	text-overflow: '';

	&::-ms-expand {
		display: none;
	}
	
	option {
		background-color: @color-swatch1;
		color: @font-swatch5-color;
	}
}

input[type="search"]::-webkit-search-decoration {
	display: none;
}

// RADIOBUTTONS AND CHECKBOXES

.widget .form .option-list {
	margin-top: 1em;
	margin-bottom: 2em;

	.option-item--radio,
	.option-item--checkbox {
		position: relative;
		width: 100%;
		margin-bottom: @font-swatch5-line-height / 2;
		padding: 0;
		min-height: @font-swatch5-line-height;
	}
}

.widget .form .option-list,
.widget.contactform .form-group.contactform__form-group--terms {
	input[type="radio"],
	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: floor(@font-swatch5-line-height*0.8+2) !important;
		height: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
		bottom: 0;
		min-height: 1em;
		min-width: 1em;
		height: 1em !important;
		width: 1em !important;

		&:checked + label:after {
			opacity: 1;
		}
	}

	.label--radio,
	.label--checkbox,
	label[for*="input--terms"] {
		display: block;
		position: relative;
		cursor: pointer;
		padding-left: 2em;
		margin-bottom: 0;
		line-height: floor(@font-swatch5-line-height*0.8+2);
		font-size: @font-swatch5-font-size;
		word-break: break-word;
		text-align: left;
		text-transform: none;
		color: @color-swatch5;

		.style--light & {
			color: @color-swatch5;
		}
	
		.style--accent & {
			color: @contrast--accent;
		}
	
		.style--dark & {
			color: @contrast--dark;
		}

		span a.form__link {
			font-family: @font-swatch5-font-family;
			font-weight: @font-swatch5-font-weight;
			font-size: @font-swatch5-font-size;
			line-height: floor(@font-swatch5-line-height*0.8+2);
			letter-spacing: @font-swatch5-letter-spacing;

			.footer-wrap & {
				color: @color-swatch1;
			}
		}
			
		&:before,
		&:after {
			cursor: pointer;
			display: block;
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
		}

		&:before {
			min-width: 0;
			height: floor(@font-swatch5-line-height*0.8);
			width: floor(@font-swatch5-line-height*0.8);
			background-color: @color-swatch1;
			border: 1px solid @font-swatch7-background-color;
			border-radius: 0;
			margin: 0;

			.style--light & {
				border-color: @font-swatch7-background-color;
			}

			.style--accent & {
				border-color: @color--dark;
			}

			.style--dark & {
				border-color: @color--accent;
			}
		}

		&:after {
			opacity: 0;
			width: floor(@font-swatch5-line-height*0.8);
		}
	}

	.label--radio {
		&:before {
			border-radius: 50%;
		}
		
		&:after {
			border-radius: 50%;
			background-color: @font-swatch7-background-color;
			border: 1px solid @font-swatch7-background-color;
			height: floor(@font-swatch5-line-height*0.8);
			transform: scale(50%);

			.style--light & {
				background-color: @font-swatch7-background-color;
				border: 1px solid @font-swatch7-background-color;
			}

			.style--accent & {
				background-color: @color--dark;
				border: 1px solid @color--dark;
			}

			.style--dark & {
				background-color: @color--accent;
				border: 1px solid @color--accent;
			}
		}
	}

	.label--checkbox,
	label[for*="input--terms"] {
		&:after {
			margin-top: floor(@font-swatch5-line-height*-1.2/4);
			height: floor(@font-swatch5-line-height*1.2);
			border: 1px solid transparent;
			box-shadow: -6px -6px 0 0 inset @font-swatch7-background-color;
			transform: scale(50%) rotate(45deg);

			.style--light & {
				box-shadow: -6px -6px 0 0 inset @font-swatch7-background-color;
			}

			.style--accent & {
				box-shadow: -6px -6px 0 0 inset @color--dark;
			}

			.style--dark & {
				box-shadow: -6px -6px 0 0 inset @color--accent;
			}
		}
	}
	
	label[for*="input--terms"] span a.form__link {
		text-decoration: underline;
		border: none;
	}
}

// BUTTONS

.btn,
button.btn,
button.button,
.contactform button,
.contactform button.btn,
.advancedcontactform button,
.advancedcontactform button.btn,
.widget.tweet a,
.widget.clicktocall a,
.widget.clicktocall a:hover,
.widget.dropbox button,
.widget.filedownload button.btn,
.widget.paypalbuynow .widget.button.paypal,
.widget.socialicons span a,
.widget.profile .bk-profile-socialicons span a,
.widget.feature .feature-bgimg .content button,
.userregistration fieldset .userregistrationbtn,
.widget.yelpreview .review-body .review-link a,
form.blog-search-form .form-group button,
.blog-post-more-link a,
.productlist-clear-search,
a.blog-back-home {
	display: inline-block;
	border: 0;
	margin: 0;
	cursor: pointer;
	background-color: @font-swatch7-background-color;
	-webkit-appearance: none;
	font-family: @font-swatch7-font-family;
	font-weight: @font-swatch7-font-weight;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	color: @font-swatch7-color;
	line-height: @font-swatch7-line-height;
	letter-spacing: @font-swatch7-letter-spacing;
	font-size: @font-swatch7-font-size;
	height: auto;
	padding: 8px 20px;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
	border-radius: 2px;
    word-break: break-word;

	.style--light & {
		background-color: @font-swatch7-background-color;
		color: @font-swatch7-color;
	}

	.style--accent & {
		background-color: @color--dark;
		color: @contrast--dark;
	}

	.style--dark & {
		background-color: @color--accent;
		color: @contrast--accent;
	}

	&:hover {
		background-color: @font-swatch7-background-color-hover;
		text-decoration: none;

		.style--light & {
			background-color: @font-swatch7-background-color-hover;
		}

		.style--accent & {
			background-color: darken(@color--dark, 8%);
		}

		.style--dark & {
			background-color: darken(@color--accent, 8%);
		}
	}
	
    @media @mobile {
		width: 100%;
		text-align: center;
	}

	&:disabled,
	&:disabled:hover {
		background-color: @borders-blocks;
		border-color: @borders-blocks;
		color: @color-swatch1;
		cursor: not-allowed;
	
		&:hover {
			background-color: @borders-blocks;
			border-color: @borders-blocks;
			color: @color-swatch1;
		}
	}
}

.widget button.btn span {
	color: @font-swatch7-color;

	.style--light & {
		color: @font-swatch7-color;
	}

	.style--accent & {
		color: @contrast--dark;
	}

	.style--dark & {
		color: @contrast--accent;
	} 
}

// Image Buttons

.widget.tweet a,
.widget.clicktocall a,
.widget.dropbox button,
.widget.filedownload button.btn {
	&, &:hover, &:focus {
		background-image: none;
	}
}

.widget.tweet a,
.widget.clicktocall a,
.widget.dropbox button span,
.widget.filedownload button.btn {
	&:before {
        position: relative;
        top: 0.1em;
		padding-right: 0.25em;
		background-image: none;
		font-family:'FontAwesome';
		font-size: 1.25em;
	}
}

.widget.tweet a:before {content: '\f099';}
.widget.clicktocall a:before {content: '\f095';}
.widget.dropbox button span:before {content: '\f16b';}
.widget.filedownload button.btn:before {content: '\f019';}

.widget.paypalbuynow .widget.button.paypal {
	padding-left: 3.2em;
    background-size: 1.2em;
    background-position: 1.25em center;
}

.widget.filedownload div {
	@media @mobile {
		float: none;
	}

	span.file-name {
		display: block;
		margin: 0.5em 0;
	}
}

// Product List Clear Search

.productlist-clear-search {
	margin: 10px 10px 60px;

	@media @mobile {
		width: calc(~"100% - 20px");
	}
}

// Blog Back Button

a.blog-back-home {
	margin-bottom: 2em;
}

// Social Icons

.widget.socialicons,
.widget.profile .bk-profile-socialicons {
	span {
		display: inline-block;
		
		a {
			display: inline-block;
			background-image: none;
			margin: 0 5px 10px;
			padding: 0;
			width: 45px;
			height: 45px;
			min-height: 45px;
			line-height: 45px;
			border-radius: 50%;
			text-indent: 0;
			font-size: 0;

			&:before {
				font-family: 'FontAwesome';
				text-indent: 0;
				font-size: 24px;
			}
		}

		&.bk-socialicons-linkedin a:before {content: '\f0e1';}
		&.bk-socialicons-twitter a:before {content: '\f099';}
		&.bk-socialicons-instagram a:before {content: '\f16d';}
		&.bk-socialicons-pinterest a:before {content: '\f0d2';}
		&.bk-socialicons-facebook a:before {content: '\f09a';}
		&.bk-socialicons-rss a:before {content: '\f09e';}
		&.bk-socialicons-vkontakte a:before {content: '\f189';}
		&.bk-socialicons-xing a:before {content: '\f168';}
		&.bk-socialicons-youtube a:before {content: '\f16a';}
	}
}

// REGISTRATION FORM

.widget.userregistration {
	fieldset {
		margin: 0 auto;
		padding: 0;
		border: none;
		max-width: 400px;
		
		@media @mobile {
			max-width: none;
		}

		.responsivecolumns & {
			max-width: none;
		}

		input {
			width: 100%;
			box-sizing: border-box;
		}

		.error {
			padding: 20px 0 0;

			&[style*="display: block"] {
				padding: 20px 0;
			}

			&[style*="display: none"] {
				display: block !important;
			}
		}
	}
}

// EMBEDS

.widget.embed .embed-default,
.widget .embed .embed-wrap {
	background: transparent;
	border: none;
	padding: 0;
	text-align: left;
}

.embed-content iframe {
	max-width: 100%;
}

// TWITTER

.widget.twitter {
	ul.twitter {
		li {
			.widget.twitter .twitter-profile-pic {
				float: left;
				margin-right: 20px;
				padding: 6px 0 0 0;
				height: 54px;
			}

			.twitter-content {
				margin-left: 68px;
				margin-bottom: 1.5em;

				> p {
					display: block;
					margin: 0;
    				padding: 0;
				}

				span > a,
				time,
				> span,
				time ~ p {
					opacity: 0.6;
					font-size: 0.9em;
					line-height: 0.9em;
				}
			}
		}
	}
}

.widget.twitter {
	p {
		display: block;
	}

	ul li a {
		font-weight: 600;
	}

	ul li {
		padding-bottom: 10px;
	}
}

// YELP

.widget.yelpreview {
	ul.yelpreview {
		dd.created {
			opacity: 0.6;
			font-size: 0.9em;
		}

		dd.reviewer {
			font-weight: bold;
		}
	}
}

// BLOG

.widget.signupform,
.blog-search-form {
	.form-group {
		display: flex;
		flex-wrap: wrap;

		label {
			display: block;
			width: 100%;

			@media @mobile {
				width: 100%;
			}
					
			.responsivecolumns & {
				width: 100%;
			}
		}

		input {
			flex-grow: 1;

			@media @mobile {
				margin-bottom: 10px;
				width: 100%;
			}

			.responsivecolumns & {
				margin-bottom: 10px;
				width: 100%;
			}
		}

		.blog-search-submit-button {
			margin: 0 0 0 10px;

			@media @mobile {
				margin: 0;
				width: 100%;
			}
					
			.responsivecolumns & {
				margin: 0;
			}
		}
	}
}

.blogpostlist,
.blogpost {
	.blog-post-feature-image-wrap {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 200px;
		width: 100%;
		margin-bottom: 10px;

		@media @tablet {
			height: 300px;
		}

		@media @mobile {
			height: 200px;
		}

		img {
			display: none;
		}
	}

	.blog-post-item {
		padding-bottom: 4em;

		.blog-post-metadata {
			padding: 1em 0;
			margin: 1em 0 0;
		}
	}

	.blog-post-sharing .btn {
		margin: 1em 1em 1em 0;
		
		@media @mobile {
			margin: 1em 0 0;
		}
	}

	.blog-search-form button {
		margin: 11px 10px;
		
		@media @mobile {
			margin: 11px 0px;
		}
	}

	.blog-post-date time {
		opacity: 0.6;
		font-size: 0.9em;
	}
}

.blogpostlist {
	margin-top: 2em;
}

.blog-list-footer {
	margin-bottom: 2em;
	text-align: center;

	.blog-post-pagination-page {
		margin: 1em;
	}
}

// E-COMMERCE

// Categories

.widget.ecomcategorieslist {
	ul.product-category-items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 1em;
		padding: 0;
		list-style: none;

		@media @mobile {
			padding: 0;
		}

		.responsivecolumns & {
			padding: 0;
		}

		li {
			width: 100%/3;
			padding: 5px 10px;

			@media @tablet {
				width: 100%/2;
			}

			@media @mobile {
				width: 100%;
				padding: 5px 0;
			}

			.responsivecolumns & {
				width: 100%;
				padding: 5px 0;
			}
		}
		
        a span {
            padding-left: 0.25em;
        }
	}
}

// Product List

.widget.ecomproductslist,
.widget.ecomfeaturedproducts {
	margin: 0 -10px;
}

.widget.ecomproductslist .ecom-productslist-products,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-left: 0;
	max-width: 100%;

	@media @tablet {
		padding: 0;
		margin: 0;
	}

	// Filter
	
	.productlist-filter {
		flex-grow: 1;
		margin-left: 0;
		width: 100%;

		.productlist-display-form {
			display: flex;
			flex-wrap: wrap;
            padding: 0 5px;

			// Filter Group

            .form-group {
                margin: 0;
                padding: 0 5px 20px;
                width: auto;
                box-sizing: border-box;
				flex-grow: 1;
				width: 100%/3;
				
				@media @mobile {
					width: 100%;
				}
					
				.responsivecolumns & {
					width: 100%;
				}

                label {
                    display: block;
                    margin-bottom: .4em;
					width: 100%;
                }

				// Search Form
				
				&.productlist-search {
					display: flex;
					flex-wrap: wrap;
					width: 100%;
		
					input {
						flex-grow: 1;
						margin-right: 10px;
					
						@media @mobile {
							width: 100%;
							margin-right: 0;
							margin-bottom: 10px;
						}
					
						.responsivecolumns & {
							width: 100%;
							margin-right: 0;
							margin-bottom: 10px;
						}
                    }
				
					.btn {
						@media @mobile {
							width: 100%;
						}
					}
                }
			}

			select,
			label {
				@media @mobile {
					width: 100%;
				}
			}
		}
	}
}

.widget.ecomproductslist .productlist-item-count {
	padding: 0 10px 10px;
}

// Product Item

.widget.ecomproductslist .ecom-productslist-product,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-product {
	overflow: hidden;
	position: relative;
	margin-right: 0;
	zoom: 1;
	margin-left: 0;
	max-width: 100%;
	width: 100%/3;
	padding: 10px;

	a:hover {
		text-decoration: none;
	}

	@media @tablet {
		width: 100%/2;
	}

	@media @mobile {
		width: 100%;
	}

	.responsivecolumns & {
		width: 100%;
	}
}

// Image

.widget.ecomproductslist .ecom-productslist-image-wrap,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-product .ecom-featuredproducts-image-wrap {
	border: 1px solid @borders-blocks;
	background-position: center;

	.style--light & {
		border-color: @borders-blocks;
	}

	.style--accent & {
		border-color: darken(@color--accent, 15%);
	}

	.style--dark & {
		border-color: darken(@color--dark, 15%);
	}

	&:hover {
		border-color: darken(@borders-blocks, 10%);

		.style--light & {
			border-color: darken(@borders-blocks, 10%);
		}

		.style--accent & {
			border-color: darken(@color--accent, 20%);
		}

		.style--dark & {
			border-color: darken(@color--dark, 20%);
		}
	}
}

.widget.ecomproductslist .ecom-productslist-image,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-product .ecom-featuredproducts-image {
	display: none;
    margin: 0 auto;
	max-height: 250px;
	object-fit: contain;
}

// Title

.widget.ecomproductslist .ecom-productslist-title,
.widget.ecomfeaturedproducts .ecom-featuredproducts-title {
	display: inline-block;
	padding-right: 20px;
	line-height: bkscale(@font-swatch3-line-height, 0.9);
	font-size: bkscale(@font-swatch3-font-size, 0.9);
	word-break: break-word;
	text-align: left;

	a {
		display: inline-block;
		border: 1px solid @borders-blocks;
		padding: 14px 20px;
		color: @color-swatch6;
		line-height: inherit; 
		font-size: inherit;
		-webkit-transition: .2s;
		-moz-transition: .2s;
		-ms-transition: .2s;
		transition: .2s;

		&:hover {
			border-color: darken(@borders-blocks, 10%);
		}
	}
}

// Price

.widget.ecomproductslist .ecom-productlist-price,
.widget.ecomfeaturedproducts .ecom-featuredproducts-price {
	float: right;
	font-family: @font-swatch7-font-family;
	text-align: center;
}

// Info

.widget.ecomproductslist .ecom-productlist-info,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-info {
	display: flex;
	justify-content: space-between;
	padding-top: 1em;
}

// Pagination

.widget.ecomproductslist .productlist-pagination,
.widget.ecomfeaturedproducts .productlist-pagination {
    width: 100%;
	margin: 0 auto 2em;
    padding: 10px;
	text-align: center;

	.productlist-pagination-pages .productlist-pagination-page {
		padding: 0 0.5em;
	}
}

// Product

.widget.ecomproduct {
	.ecom-product {
		.btn {
			margin: 20px 0 0;
			text-align: center;
			min-width: 250px;
		}
		
		.ecom-product-preview-image-wrap {
			max-height: 400px;
		
			img {
				max-width: 100%;
			}
		}

		.ecom-product-cattag {
			.ecom-product-tag,
			.ecom-product-category {
				display: flex;
				flex-wrap: wrap;
	
				&:after {
					content: ':\00a0';
					order: 0;
					display: inline-block;
				}
			}
	
			.store-category-link,
			.ecom-product-tag-link {
				display: inline-block;
				word-break: break-word;
				font-weight: 300;
				order: 1;
	
				&:after {
					content: ',\00a0';
				}
	
				&:last-child::after {
					content: none;
				}
			}
		}
	}

	.product-actions {
		button {
			margin-bottom: 1em;
			text-align: center;
        
			@media @mobile {
				width: 100%;
			}

			&:before {
				float: none;
			}
		}
	}
}

// Checkout

.checkout-amount,
.checkout-pricepu {
	font-weight: @font-swatch4-font-weight;
}

.checkout-total-amount {
	color: darken(@font-swatch5-color, 20%);
}

.checkout-empty-link {
	margin-top: 10px;
	display: inline-block;
}

.basket-summary-amount {
	@media @mobile {
		text-align: right;
	}
}

.template-header .widget.ecombasket {
	display: inline;
	float: right;

	.ecombasket-list-container {
		left: auto;
		right: 0;
	}
}

// Basket

.widget.ecombasket {
	display: inline-block;
	clear: both;

	.ecombasket-pull {
		width: auto;
		padding: 0;
		display: inline-block;
		color: @font-swatch7-color;
		background-color: @color-swatch3;
		border-radius: 2px;
	    transition: .2s;
		
		&:hover {
			background-color: @font-swatch7-background-color-hover;
		}

		p {
			display: inline-block;
			color: @color-swatch1;
			padding: 14px 50px 15px 20px;
			
			&:before {
				content: '\f291';
				display: inline-block;
				top: 0;
				margin-top: -0.25em;
				margin-right: 0.5em;
				background-image: none;
				height: 1.5em;
				width: 1.5em;
				font-family: 'FontAwesome';
				text-indent: 0;
				font-size: 1.25em;
			}
		}

		.basket-count {
			color: @color-swatch1;
		}
 	}

	.ecombasket-list-container {
		z-index: 1;
		position: absolute;
		top: 100%;
		left: -1px;
		background: white;
		padding: 10px;
		border: 1px solid @borders-blocks;
		width: 260px;

		ul li {
			border-bottom: 1px solid @borders-blocks;
		}
	}
}

// Checkout

.widget.ecomcheckout {
	table {
		tr th,
		tr td {
			border-bottom: 1px solid @borders-blocks;

			.checkout-quantitybtn button {
				-webkit-font-smoothing: antialiased;
				padding: 0;
				font-family: inherit;
			}
		}
	}

	.checkout-legal-links {
		list-style: none;
		padding: 20px 0;
	}
}

// Basket Summary

.basket-summary-items-table {
	border-collapse: collapse;
	width: 100%;

	.image-wrap {
		background: none !important;
		padding: 0;
		width: 100px;
		line-height: 0;
		text-align: center;

		@media @mobile {
			padding: 5px 0 0 0;
		}

		img {
			max-height: 100px;
			max-width: 100px !important;
		}
	}

	th, td {
		@media @mobile {
			float: left;
			width: 100%;
			padding: 0 0 5px;
		}
	}

	th {
		padding: 0.5em 0;
	}

	td {
		padding: 10px 0;
		
		@media @mobile {
			padding: 10px;
		}
	}

	tr {
		&:last-of-type {
			border-bottom: none;
		}
		
		&:last-child {
			td:not(.basket-summary-subtotal) {
				@media @mobile {
					display: none;
				}
			}
		}
	}

	.basket-summary-amount,
	.basket-summary-subtotal {
		text-align: left;
	}
	
	.basket-summary-quantitybtn {
		.btn {
			padding: 0;
			width: 40px;
			line-height: 40px;
			font-size: 30px;
		}
	}

	.quantity-number {
		position: relative;
		top: -5px;
		display: inline-block;
		margin: 0;
		padding: 0;
		min-width: 40px;
		line-height: 40px;
		text-align: center;
	}
	
	.basket-summary-items-column {
		width: 30%;
	
		@media @mobile {
			text-align: left;
		}
	}
	
	.basket-summary-amount-column,
	.basket-summary-details-column {
		@media @mobile {
			display: none;
		}
	}
}

.basket-summary-empty-cta,
.ecombasket-summary-link {
	display: inline-block;
}

.basket-summary-continue-shopping {
	margin: 2em 1em 0 0;
}

.basket-summary-continue-shopping + .basket-summary-submit {
	margin: 1em 0;
}

.basket-summary-continue-shopping,
.basket-summary-continue-shopping + .basket-summary-submit {
	@media @mobile {
		margin-right: 0;
		width: 100%;
		text-align: center;
	}
}

// Footer

.footer-wrap {
	clear: both;
	background: @color-swatch4;
	padding: 30px;

	@media @tablet {
		padding: 30px 40px;
	}

	@media @mobile {
		padding: 30px;
	}
}

.template-footer {
	color: @color-swatch1;

	a,
	h3,
	p,
	.twitter ul li time,
	.signupform label {
		color: @color-swatch1;
	}
}